.container {
	width:970px;
	margin:0px auto;
	border:5px solid black;
}

.globe {
	width:60px;
	height: 60px;
	position: relative;
    left: 5px;
    top:15px;
}

.internet {
	color:black;
	background-color: white;
	margin-left:0px 0px;
	vertical-align: top;
	display: inline-block;
	width:820px;
	margin-bottom:0px;
}

.internet span {
	color:blue;
}

.web {
	background-color: blue;
	margin-top:0px;
	padding:10px;
	color:white;
}